*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 36px;
  background-image: url("download.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
nav #logo{
  float: left;
  line-height: 60px;
  padding-left: 60px;
  
}

 nav{
  width: 100%;
  height: 70px;
  font-size: 34px;
  /* background-color: #d7beca;
   */
  box-shadow: rgba(0,0,0,0.2) 0 70px 195px 0;
}
nav::after{
  content:'';
  clear: both;
  display: table;
}

nav ul{
  float: right;
  list-style-type: none;
margin-right: 40px;
position: relative;
}
nav ul li{
  float: left;
  width: 140px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
display: inline-block;  
  text-align: center;
  margin: 0,5px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-style: italic;
  line-height: 70px;
  padding: 9px,15px;
  
}
nav ul ul {
  position: absolute;
  top: -10px;
  left:40px;
  opacity: 0;
  visibility: hidden;
  bo

}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover>ul{
  opacity: 1;
  visibility: visible;
  /* background-color: #0cd2f3; */
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
} 
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  /* left: 159px; */
}

 ul li a:hover{
  background-color: #0cd2f3;
  transition: 1s all ease;
  box-shadow:0 0 5px #0cd2f3;
 }

 ul li ul{
  position: relative;
 }

 ul li ul li {
  display: none;
  /* display gayab */
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  height: 60px;
  transition: 1s all;
  }

  ul li:hover ul li {
    display: block;
    transition: 1s all ;
    animation: drop 1s ease;
  }
  @keyframes drop {
    0%{
      transform: scale(2,2) rotatex(90deg);
    }
    100%{
      transform: scale(1,1) rotatex(0deg);
    }
  }

  ul li ul li ul {
    position: absolute;
    left: 100%;
    display: none;
    top: 0px;
  }

  ul li ul li:hover ul{
    display: block;
    transition: 1s all ;
    animation: drop 1s ease;

  }
ul li ul li ul li ul {
    position: relative;
    left: 100%;
    display:none;
    top: 0px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    height: 60px;
    transition: 1s all;
  }


  ul li ul li ul li:hover ul{
    display: block;
    transition: 1s all ;
    animation: drop 1s ease;

  }




  .container{
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;

  }

  .container .box{
    flex: 1;
    overflow: hidden;
    transition: 0,5s all ;
    margin: 0 2%;
    box-shadow: 0 20px 30 px rgba(0,0,0,0.1);
    line-height: 0;
  }

  .container .box >img{
    width: 100%;
    height: 50%%;
    object-fit: cover;
    transition: 0.5 all;
  }
  .container .box > span{
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    font-size: 3.8vh;
  }
  .container .box:hover{
    flex: 1  1 50%;
  }
  .container.box:hover img{
    width: 100%;
    height: 100%;
  }


 
#logo img{

    margin:10px 10px;
    height: 56px;
    border-radius: 40px;

}
